html{
    font-size: 20px;
    font-family: 'Unbounded', cursive;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
button{
    border: none;
    outline: none;
}